*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar style */
nav{
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  display:flex;
  position: fixed;
  top: 0;
  background: white;
  z-index: 9999;

}
.left{
  width:50%;
  text-align: left;
}
.left a{
  font-weight: 700;
  color:red;
  font-size: 35px;
}
.right{
  width:50%;
  text-align: right;
}
nav ul{
  list-style: none;
}
nav ul a{
  text-decoration: none;
}
.shoppingcart{
  display:inline-block;
  font-size: 30px;
  color: red;
  margin-right: 15px;
}
.cartcount{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: orange;
  color: black;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
.logout{
  font-weight: 700;
  color:red;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
/* product style */
.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}
.product-tab{
  margin-right: 15px;
}
.nav-link{
  text-decoration: none;
  color: red;
  font-size: 15px;
  font-weight: bolder;
}
.product{
  width:25%;
  padding:0 12px;
  margin:20px 0;
  overflow: hidden;
  position: relative;
}
.hot{
  position: absolute;
  top: 0;
  background: orangered;
  padding: 5px 20px;
  color: white;
}
.new{
  position: absolute;
  top: 0;
  background: greenyellow;
  padding: 5px 20px;
  color: white;
}
.product-image{
  width: 100%;
  height:200px;
}
.product-details{
  padding: 15px 10px;
  text-align: center;
  background: white;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.product-name{
  font-size: 20px;
  font-weight: 500;
  margin: 2px 0; 
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
  max-width: 80%;  
}
.product-category{
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0;
}
.product-price{
  font-size: 20px;
  font-weight: 400;
  margin: 12px 0;
}
.qyantity-available {
  position: absolute;
  bottom: 15%;
  left: 65%;
  font-size: 15px;
  color: white;
  background: red;
  padding: 0px 5px;
  border-radius: 5px;

}
.addtocart{
   background-color:#ffc107;
   color: black;
   font-size: 16px;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
  }
  .addtocartdisable{
    background-color:#ffc107;
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    cursor: not-allowed;
    border-radius: 5px;
    text-align: center;
   }
.buynow{
   background-color: #28a745;
   color: white;
   font-size: 16px;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center; 
   margin-left: 5px;
  }
  .pagenotfound{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5%;
    margin-left: 2%;
  }
/* cart-style */
.cart-container{
  width: 100%;
  margin-top: 50px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-details{
  width: 72%;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  border-radius: 5px;
}
.cart{
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.cart-images{
  display: inline-block;
  width: 150px;
  height: 100px;
  border-radius: 5px;
}
.cart-product-name{
  display: inline-block;
  width: 100px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: red;
}
.inc{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  color: black;
  border-radius: 3px;
  cursor:pointer;

}
.product-quantity{
  display: inline-block;
  padding: 1 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}
.dec{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  color: black;
  border-radius: 3px;
  cursor:pointer;

}
.product-total-price{
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}
.delete-product{
  border: none;
  color: black;
  cursor:pointer;
}
/* cart summary */
.cart-summary{
  width: 25%;
  padding: 0 0 0 20px;
}
.summary{
  background: white;
  padding: 13px;
}
.summary h2{
  font-size:18px;
  font-weight: bold;
  border-bottom: 1px solid #999;
  padding-bottom: 13px;
}
.total-items{
  display: flex;
  margin: 15px 0;
}
.items{
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-count{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: red;
}
.total-price-section{
  display: flex;
  margin: 15px 0;
}
.just-title{
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-price{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: red;
}

/* login-style */
.login-container{
  position: absolute;
  left: 30%;
  top:20%;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.7);
  width: 40%;
}
.login-head{
  font-family: Verdana;
  color:white;
  text-shadow: 0 0 3px blue, 0 0 5px blue;
  font-size: 40px;
  font-weight: bolder;
}
.login-text{
  font-family: Verdana;
  color:white;
  text-shadow: 0 0 3px blue, 0 0 5px blue;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}
.login-container input{
    height: 30px;
    color:blue;
    outline: #fafafa;  
    font-size: 16px;
}